html {
    font-family: sans-serif;
    background-image: url("images/bg.png");
    text-align: center;
    } 
h1 {
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    color: rgb(139, 103, 55);
    }
h2  { color: rgb(139, 103, 55);
    }
.banner {
    margin-left: 30%;
    width: 30%;
    height: 200px;
    background-color: rgb(245, 241, 220);
    border-radius: 50% 10% 50% 20%;
    }
.fotos {
    text-align: center;
    }
.navigation {
    font-family: sans-serif;
    text-align: right;
    background-color:rgb(245, 241, 220);
    }
.navigation a {
    margin: 5px;
    color: rgb(139, 103, 55);
    text-decoration: none;
    }
.navigation a:hover {
    color: orange;
    }
    #openside {
        color: orange;
        }
.navigationpages {
    font-family: sans-serif;
    text-align: center;
    }
.socialmedia {
    opacity: 30%;
    }
.socialmedia:hover {
    opacity: 100%;
    }
.contactformular {
    }
    #agb  {
        color: rgb(139, 103, 55);
        }
    #daten {
        width: 25%;
        padding: 7px;
        margin-bottom: 10px;
        background-color: rgb(245, 241, 220); 
        }
    #message {
        width: 40%;
        height: 100px;
        margin-bottom: 10px;
        background-color:rgb(245, 241, 220);
        }
           